<strong>Olá {{ studentName }}, seja bem vindo a GymPoint</strong>
<p>Sua matrícula foi efetuada com sucesso, confira os dados abaixo:</p>
<p>
  <strong>Matrícula: </strong> {{ matricula }} <br />
  <strong>Plano: </strong> {{ planName }} <br />
  <strong>Inicio: </strong> {{ startDate }} <br />
  <strong>Duração: </strong> {{ durationPlan }} <br />
  <strong>Valor mensal: </strong> {{ priceMonth }} <br />
</p>
